<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InternTask2.ConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="InternTask2.Console.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <InternTask2.ConsoleApp.Properties.Settings>
            <setting name="SPDocLibName" serializeAs="String">
                <value>DocumentLibraryIT2</value>
            </setting>
            <setting name="SleepTimeInMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SPLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="SPPass" serializeAs="String">
                <value />
            </setting>
            <setting name="SPSiteUrl" serializeAs="String">
                <value />
            </setting>
        </InternTask2.ConsoleApp.Properties.Settings>
        <InternTask2.Console.Properties.Settings>
            <setting name="SharePointEmail" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SharePointPass" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SharePointDLName" serializeAs="String">
                <value>InternTask2DL</value>
            </setting>
            <setting name="SharePointSiteUrl" serializeAs="String">
                <value></value>
            </setting>
        </InternTask2.Console.Properties.Settings>
    </userSettings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=InternTask2DB;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>